/*! import reset.css (http://meyerweb.com/eric/tools/css/reset/) as scss */

@import 'reset';
@import '_fonts';
/* @import url(http://fonts.googleapis.com/css?family=Playball); */
            
/*! style.css */

$blue: rgb(10, 58, 146) ;
$darkBlue: darken($blue, 10%) ;
$red: rgb(200,10,10) ;
$gold: rgb(234, 194, 50) ;
$darkGold: darken($gold, 20%) ;
$positiveFgc: #f88 ;
$positiveBgc: #faa ;
$negativeFgc: #49f ;
$negativeBgc: #8cf ;

$cursive: "Playball", cursive ;


* {
  text-size-adjust: 100% ;
}

body {
  background-color: $darkBlue ;
  color: #333 ;
  font-family: sans-serif ;
}

a {
  color: $darkGold ;
  text-decoration: none ;

  &:hover {
    color: $gold ;
  }
}

#app {
  background-color: $blue ;
  padding-bottom: .5rem ;
}

#main-header {
  color: #fff ;
  padding-top: 1.8rem ;
  
  h1 {
    background-color: $blue ;
    text-align: center ;
    font: normal normal 2.5rem/2 $cursive ;
    text-rendering: optimizeLegibility ;
    text-shadow: 0 -1px 0 $gold, 1px 0 0 $gold,
                 0 1px 0 $gold, -1px 1px 0 $gold ;
  }

  nav {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    text-align: center ;
    font-size: .8rem ;
    box-sizing: border-box ;
    background-color: $darkBlue ;
    width: 100% ;

    li {
      display: inline-block ;
      width: 50% ;
      text-align: center ;

      &.active {
        background-color: $blue ;
      }

      a {
        color: $gold ;
        display: inline-block ;
        width: 100% ;
        line-height: 1.8rem ;
      }
    }
  }
}

.loading {
  text-align: center ;

  .loading-message {
    font-size: .9rem ;
    opacity: 1 ;
    animation: blink .6s ease-in-out 0s infinite alternate;
  }
}

article {
  margin: .5rem ;
  padding: 1rem 0 ;
  background-color: #fff ;
  
  & > h1 {
    color: #888 ;
    font-size: 1rem ;
    padding: 0 1rem 1rem ;
    border-bottom: 1px dashed #ddd ;

    .date {
      font-size: .9rem ;
    }

    .number {
      font-family: 'Gill Sans', sans-serif ;
    }
  }

  table {
    width: 100% ;
    border-collapse : collapse ;
    font-size: .85rem ;
    line-height: 2 ;
    color: #666 ;
    background-color: #fff ;

    th, td {
      padding: 0 .5em ;
      white-space: nowrap ;
      text-align: center ;
    }

    thead {
      th {
        background-color: $gold ;
        color: #fff ;
        border: 1px solid $gold ;
        border-width: 1px 0 ;
        user-select: none ;
        cursor: pointer ;
      }
    }

    tbody {
      tr {
        border-bottom: 1px dashed #ddd ;
      }
      th {
        background-color: #eee ;
        padding: 0 .7em ;
      }
    }
    .sorted {
      background-color: #fff ;
      color: #333 ;
      border-bottom-color: $negativeFgc ;
      
      &.desc {
        border-bottom-color: $positiveFgc ;
      }
    }
  }

  & > section {
    overflow: scroll ;
    margin: 1rem -.5rem ;
    background-color: #eee ;

    h1 {
      color: #888 ;
      font-size: .8rem ;
      padding: 1rem ;
    }
  }

  section:last-child {
    margin-bottom: 0 ;
  }
  
}

.score {
  & > h1 {
    text-align: right ;
    font-size: .8rem ;
  }
  
  .short-score {
    position: relative ;
    color: #333 ;
    padding: 1rem 0 ;

    dt, dd {
      box-sizing: border-box ;
    }

    dt {
      padding: 0 1rem ;
      
      &.away-team {
        text-align: right ;
        margin-top: 5rem ;
      }
    }

    dd {
      display: inline-block ;
      text-align: center ;
      width: 3rem ;
      position: absolute ;
      top: 3rem ;
      left: 50% ;
      transform: translateX(-3.5rem) ;
      border-radius: 100% ;
      line-height: 3rem ;
      font-size: 2rem ;
      font-family: 'Gill Sans' ;
      color: #fff ;
      background-color: #bbb ;

      &.away-team {
        transform: translateX(.5rem) ;
      }
    }

    & dd.our-team {
      background-color: $blue ;
      /* text-shadow: 1px 1px 0 $gold, 1px -1px 0 $gold, */
      /*              -1px 1px 0 $gold, -1px -1px 0 $gold ; */
    }

    &.lose dd.our-team {
    }
  }

  .more-detail {
    padding: 1rem 1rem 0 ;
    font-size: .8rem ;
    text-align: left ;
    border-top: 1px dashed #ddd ;

    a {
      color: #888 ;
    }
  }
  
  .table-score {
    tbody {
      td {
        padding: 0 .7em ;
      }
      .total-runs, .total-hits, .total-errors {
        background-color: #eee ;
      }

      .total-runs {
        font-weight: bold ;
      }
    }
  }
}

.batting-results,
.batting-stats {
  .atbat {
    &.begin {
      background-image: linear-gradient(to right bottom,
                                        #eee, #eee 50%, #fff 50%, #fff);
    }

    .result-body {
      position: relative ;
      width: 100% ;
      display: inline-block ;
      z-index: 1 ;

      &:before {
        content: attr(data-begin-inning) ;
        font-size: .8em ;
        font-weight: normal ;
        color: #ccc ;
        position: absolute ;
        left: 0 ;
        top: .5em ;
        z-index: -1 ;
        line-height: 1 ;
      }
    }
    
    &.rbi .result-body:after {
      content: '+' attr(data-rbi) ;
      vertical-align: top ;
      font-size: .8em ;
      font-weight: normal ;
      color: $positiveFgc ;
    }
  }

}

.batting-results {
  tbody {
    .h, .dbl, .tpl, .hr {
      color: $positiveFgc ;
    }
    .hr {
      font-weight: bold ;
    }
    .so, .uts, .dp {
      color: $negativeFgc ;
    }
  }
}

.pitching-results,
.pitching-stats {
}


/*
 * for large screen
 */

$maxWidth: 900px ;

@media (min-width: 640px) {

  #main-header {
    h1 {
      font-size: 4rem ;
    }
    
    nav {
      max-width: $maxWidth ;
      left: 50% ;
      transform: translateX(-50%) ;
    }
  }

  #contents {
    max-width: $maxWidth ;
    margin: 0 auto ;
  }

  .score,
  .player-stats {
    .short-score {
      height: 3.5rem ;

      dt {
        position: absolute ;
        left: 50% ;
        top: 1rem ;
        line-height: 4rem ;
        transform: translateX(-100%) ;
        text-align: right ;
        width: 50% ;
        padding: 0 5.5rem 0 0 ;

        &.away-team {
          text-align: left ;
          margin-top: 0 ;
          transform: translateX(0) ;
          padding: 0 0 0 5.5rem ;
        }
      }
 
      dd {
        top: 1rem ;
        line-height: 3.5rem ;
        font-size: 2.5rem ;
        width: 3.5rem ;
        transform: translateX(-4rem) ;
      }
    }
  }
}

@keyframes blink {
  0% { opacity: 1 ; }
  100% { opacity: 0 ; }
}
@-webkit-keyframes blink {
  0% { opacity: 1 ; }
  100% { opacity: 0 ; }
}
